.navbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #88D4AB;
  }
  
.navbar a {
text-decoration: none;
color: #333;
}

.mainSection {
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
background-color: #78C6A3;
}

.container {
display: flex;
flex-direction: row;
align-items: flex-start;
max-width: 600px;
width: 100%;
background-color: #469D89;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
overflow: hidden;
}

.imageContainer {
flex: 1;
max-width: 50%;
padding: 10px;
}

.productImage {
width: 100%;
height: auto;
display: block;
}

.productInfo {
flex: 1;
padding: 20px;
}

.productInfo h1 {
font-size: 2em;
margin-bottom: 10px;
}

.productInfo h3 {
font-size: 1.2em;
margin-bottom: 20px;
color: #666;
}

.productInfo h2 {
font-size: 1.5em;
margin-bottom: 10px;
}

.productInfo h1:last-of-type {
font-size: 2.5em;
color: #333;
margin-bottom: 20px;
}
